<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.ssafy.repository.files">
	<select id="fileone" parameterType="string" resultType="FileDTO">
		select fid, name,path
		from files
		where fid=#{fid}
	</select>
	<select id="filelist" resultType="FileDTO">
		select fid, name,path
		from files
	</select>

	<insert id="fileinsert" parameterType="FileDTO">
		insert into files (name,path)
		values(
			#{name},
			#{path}
		)
	</insert>
</mapper>